/* ===== Variables ===== */
:root {
    /* Color Palette */
    --base-font-color: #EBF38B;
    --secondary-font-color: #F4E87C;
    --emphasised-font: #CBBF7A;
    --c-background-color: #584D3D;
    --c-background-highlights: #9F956C;

    /* Theme Colors */
    --c-yellow: #FFFF00;
    --c-orange: #FFA500;
    --c-red: #FF0000;
    --c-magenta: #FF00FF;
    --c-violet: #7F00FF;
    --c-blue: #0000FF;
    --c-cyan: #00FFFF;
    --c-green: #008000;
}

/* 1 */
body {
    background-color: var(--c-background-color);
}

/* 2 */
header, footer {
    background-color: var(--c-background-highlights);
}

/* 3 */
main, header, footer {
    color: var(--base-font-color);
}

/* 4 */
article a {
    color: var(--c-magenta);
}

/* 5 */
a:hover {
    color: var(--c-orange);
}

/* 6 */
article {
    border: 3px solid var(--c-cyan);
}

/* 7 */
header {
    text-align: center;
}

header h1 {
    font-size: 150%;
    color: var(--c-yellow);
}

/* 8 */
nav ul li {
    list-style-type: none;
}

/* 9 */
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}